@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}


/*  ======================== 
    Style Navbar 
    ======================== */
.navbar .navbar-brand {
    font-family: 'Style Script', cursive;
}

.navbar {
    margin-top: 0;
    transition: 0.6s;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

@media(min-width: 992px) {
    .navbar-brand{
        color: #ffffff;
        transition: 0.6s;
    }

    .navbar-brand:hover {
        color: #ffffffc0;
        transition: 0.6s;
    }

    .nav-link {
        color: #ffffff;
        transition: 0.6s;
    }

    .nav-link:hover {
        color: #ffffff;
        background-color: #209dd8;
        border-radius: 10px;
    }

    .active {
        color: #ffffff!important;
        background-color: #209dd8;
        border-radius: 10px;
        transition: 0.6s;
    }

    .sticky{ 
        background-color: #ffffff;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        margin: 0 24px;
        padding: 18px;
        box-shadow: 0 2px 20px rgba(0,0,0,0.3);
    }

    .sticky .navbar-brand,
    .sticky .nav-link {
        color: #000000;
        transition: 0.6s;
    }

    .sticky .navbar-brand:hover{
        color: #000000a4;
    }

    .sticky .nav-link:hover{
        color: #ffffff;
    }
}



/*  ======================== 
    Style Banner
    ======================== */
.banner{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1)), url(../img/jumbotron-bg.jpg);
    background-size: cover;
}

.banner-content{
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(min-width: 992px){
    .banner{
        margin-top: -78px;
    }

    .banner-content {
      height: 105vh;
    }
}



/*  ======================== 
    Style Panel 
    ======================== */
.panel{
    background-color: #ffffff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.7);
    border-radius: 24px;
    margin: 60px 0 0 0;
    padding: 30px;
}

.panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.panel h4{
    font-size: 20px;
    font-weight: bold;
    color: #37517e;
}

.panel p {
    font-size: 14px;
    color: #062b5b;
}

@media(min-width: 992px){   
    .panel{
        margin-top: -90px;
    }
}



/*  ======================== 
    Style Counts
    ======================== */
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #209dd8;
  color: #fff;
  width: 56px;
  height: 56px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}



/*  ======================== 
    Sections General
    ======================== */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.btn-primer {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.btn-primer:hover {
  background: #209dd8;
  color: #fff;
}
  


/*  ======================== 
    Style Hero
    ======================== */
#hero {
  width: 100%;
  height: 80vh;
  background: rgb(9,82,116);
  background: linear-gradient(45deg, rgba(9,82,116,1) 12%, rgba(71,178,228,1) 100%);
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero .hero-img img {
  border-radius: 32px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}



/*  ======================== 
    Style Pricing
    ======================== */
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
}

.pricing h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
  color: #37517e;
}

.pricing h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: #47b2e4;
  font-size: 12px;
  display: block;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.pricing ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 50px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
  border: 1px solid #47b2e4;
}

.pricing .buy-btn:hover {
  background: #47b2e4;
  color: #fff;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}



/*  ======================== 
    Section Kota Favorit
    ======================== */
.card {
  max-width: 540px;
  border: none;
  padding: 10px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
}

.card img {
  border-radius: 5px;
  transition: 1s;
}

.card img:hover {
  transform: scale(1.1);
  margin-bottom: 10px;
}

.card h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
  color: #37517e;
}

.card p {
  font-size: 15px;
}



/*  ======================== 
    Style FAQ
    ======================== */
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 0;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}


/*  ======================== 
    Style Testimonials 
    ======================== */
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 0px 15px 30px 15px;
  text-align: center;
  min-height: 450px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 15px auto;
}

.testimonials .testimonial-item p {
  font-size: 14px;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #209dd8;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #209dd8;
}

    

/*  ======================== 
    Style Contact
    ======================== */
.contact {
  margin-bottom: -46px;
}
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email-form .form-group {
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.contact .email-form label {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form .btn-kirim {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form .btn-kirim:hover {
  background: #209dd8;
}

.contact .email-form .btn-loading {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}



/*  ======================== 
    Style Footer
    ======================== */
.social-footer{
  font-size: 16px;
  color: #252525;
  float: left;
  width: 32px;
  height: 32px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.social-footer:hover{
  background: #47b2e4;
  color: #fff;
}



/*  ======================== 
    Style Preloader 
    ======================== */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #47b2e4;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #47b2e4;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

